<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>One</display-name>
  <welcome-file-list>
  	<welcome-file>jsp/index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
	<welcome-file>index.htm</welcome-file>
	<welcome-file>index.jsp</welcome-file>
	<welcome-file>default.html</welcome-file>
	<welcome-file>default.htm</welcome-file>
	<welcome-file>default.jsp</welcome-file>
</welcome-file-list>
    
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginProcess</display-name>
    <servlet-name>LoginProcess</servlet-name>
    <servlet-class>LoginProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginProcess</servlet-name>
    <url-pattern>/LoginProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Details</display-name>
    <servlet-name>Details</servlet-name>
    <servlet-class>Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Details</servlet-name>
    <url-pattern>/Details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo</display-name>
    <servlet-name>Demo</servlet-name>
    <servlet-class>Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo</servlet-name>
    <url-pattern>/Demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegProcess</display-name>
    <servlet-name>RegProcess</servlet-name>
    <servlet-class>RegProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegProcess</servlet-name>
    <url-pattern>/RegProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserReg</display-name>
    <servlet-name>UserReg</servlet-name>
    <servlet-class>UserReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserReg</servlet-name>
    <url-pattern>/UserReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminReg</display-name>
    <servlet-name>AdminReg</servlet-name>
    <servlet-class>AdminReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminReg</servlet-name>
    <url-pattern>/AdminReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorPages</display-name>
    <servlet-name>ErrorPages</servlet-name>
    <servlet-class>ErrorPages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorPages</servlet-name>
    <url-pattern>/ErrorPages</url-pattern>
  </servlet-mapping>
  
  
  <!-- error-code related error pages -->
<error-page>
   <error-code>404</error-code>
   <location>/ErrorPage.jsp</location>
</error-page>

<error-page>
   <error-code>403</error-code>
   <location>/ErrorPage.jsp</location>
</error-page>

<!-- exception-type related error pages -->
<error-page>
   <exception-type>
      javax.servlet.ServletException
   </exception-type >
   <location>/ErrorPage.jsp</location>
</error-page>

<error-page>
   <exception-type>java.io.IOException</exception-type >
   <location>/ErrorPage.jsp</location>
</error-page>
</web-app>